.button {
  border: none;
  border-radius: 3px;
  color: white;
  margin: 5px;
}

.button--submit {
  background-color: green;
}

.button--edit {
  background-color: blue;
}

.button--reset {
  background-color: red;
}

.button--info {
  background-color: yellow;
}

.button--block {
  display: block;
  width: 100%;
}

.submit {
  background-color: green;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 5px;
}
.edit {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin: 5px;
}
.reset {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.info {
  background-color: yellow;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 5px;
  width: 80px;
  height: 30px;
}
