.cokolwiek {
  color: blue;
}

p {
  color: red;
}

#paragphId {
  color: #416edf;
}

.paragraph-2 {
  color: #133998;
}

.paragraph-3 {
  color: #11ce49;
}

.paragraph-1 {
  color: pink;
}

.button {
  background-color: #11ce49;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}

.button:hover {
  background-color: white;
  color: #11ce49;
}

.input:disabled {
  background-color: red;
}

div > p {
  color: cyan;
}

div > p + p {
  color: pink;
}
