body {
  background-color: paleturquoise;
}

.square {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  margin: 5px;
}

.container {
  margin: 20px;
  padding: 20px;
  border: 5px solid red;
  height: 50vh;
  /* PONIŻEJMIEJSCE NA TWÓJ KOD */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
