.typography {
  color: red;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 900;
  line-height: 30px;
  text-decoration: underline;
  text-align: center;
  text-orientation: upright;
  /* TODO jak zrobić oreintacje pionową */

  background-color: #123123;
  /* opacity: 50%; */
  /* border: grubosc typ kolor; */
  border: #2f21f1 solid 10px;

  /* display: none; */
  /* opacity: 0; */

  width: 500px;
  /* height: 200px; */

  display: block;
}

button {
  color: white;
  background-color: green;
  margin: 120px;
  padding: 20px;
  border: none;
  border-radius: 100px;

  transition: background-color 0.4s;
}

button:hover {
  background-color: #123123;
  cursor: pointer;
}
